<p>Reactive registration-form works!</p>
<div class="jumbotron">
    <form [formGroup]="registrationform"(ngSubmit)="doregister()">

        <div class="form group">
            <label>User Name:</label>&nbsp;&nbsp;
            <input type="text" class="form-control" formControlName="uname" />



            <div *ngIf="!registrationform.get('uname')?.valid && (registrationform.get('uname')?.dirty||registrationform.get('uname')?.touched)"
            class="error">
             <div *ngIf="registrationform.get('uname')?.errors?.['required']">
                 <small class="text-danger">Username is required</small>
                </div>
             <div *ngIf="registrationform.get('uname')?.errors?.['minlength']">
                <small class="text-danger">Min length shoul is{{registrationform.get('uname')?.errors?.['minlength'].requiredLength}}</small>
                 </div>
                </div>
        </div>
        <div class="form group">
            <label>age:</label>&nbsp;&nbsp;
            <input type="number" class="form-control" formControlName="age" />
       <div *ngIf="!registrationform.get('age')?.valid && (registrationform.get('age')?.dirty || registrationform.get('age')?.touched)" class="error">
           <div *ngIf="[registrationform.get('age')?.errors?.['ageRange']]">
               <small class="text-danger">Age should be in between 18 to 45 years</small>
           </div>

       </div>
      </div>
        <div class="form group">
              <label>Email:</label>&nbsp;&nbsp;
             <input type="text" class="form-control" formControlName="email" />
       
            <div *ngIf="!registrationform.get('email')?.valid && (registrationform.get('email')?.dirty || registrationform.get('email')?.touched)"
                class="error">
            <div *ngIf="registrationform.get('email')?.errors?.['required']">
                 <small class="text-danger">email is required</small>
            </div>
                <div *ngIf="registrationform.get('email')?.errors?.['email']">
                 <small class="text-danger">check the email format</small>
                </div> 
            </div>


        </div>





        <div class="form group">
            <label>Password:</label>&nbsp;&nbsp;
            <input type="password" class="form-control" formControlName="password" />
        </div>

        <div class="form group">
            <label>Confirm Password:</label>&nbsp;&nbsp;
            <input type="text" class="form-control" formControlName="confirmpassword" />
        </div>
        <br/>
        <button class="btn btn-primary" type="Submit"> Register</button>
        &nbsp;&nbsp;<button class ="btn btn-info" type="reset">Reset</button>


</form>
    
</div>
