
@{
    ViewData["Title"] = "Hero";
    int a = 10, b = 20 ,c;
    c = a + b;

}

<h1>Hero</h1>
<h2 style="color:blue; font-display:auto" this is Explain to hero </h2>
<h3> Addition of a and b is:@c</h3>
