<p>assignment works!</p>
<h1>table</h1>
<table class="table table-border">
    <thead>
        <tr>
            <th>sname</th>
            <th>Roll_no</th>
            <th>marks</th>
        </tr>
    </thead>
 
    <tbody *ngFor="let s of student">
        <tr *ngIf="s.marks>60" >
            
            <td [style.background-color]="s.sname ? 'lightgray' : (s.marks? 'blue':null)">{{s.sname}}</td>
            <td [style.background-color]="s.sname ? 'lightgray' : (s.marks? 'blue' : null)">{{s.Roll_no}}</td>
            <td [style.background-color]="s.sname ? 'lightgray' : (s.marks? 'blue' : null)">{{s.marks}}</td>
        </tr>
   </tbody>
<hr>
<div *ngFor="let s of student">
<ul [ngSwitch]="s.marks">
    
      <li *ngSwitchCase="'60'">{{s.sname}}</li>
    </ul>  
    </div>
 
    
    
    

    

      
