@model MVC1App.Models.Person
@{
    ViewData["Title"] = "DisplayPerson";
}

<h1>DisplayPerson</h1>

<h1><span style="color:lightgrey">Model</span> Hr View </h1>

<p>@Model.Name</p>
<p>@Model.city</p>
